.header{
	background-color: #333327;
	padding-top: .5%;
}
.dragpic{
	width: 100%;
}

.logo{
	padding-bottom: .5%;
	margin-left: 10%;
}

.degree{
	border: 1px solid black;
	line-height: 1%;
	width: 17%;
	padding-left: 3%;
	background-color: black;
	color: white;
	opacity: .8;
	position: absolute;
	bottom: 40%;
	left: 17%;
}

.form{
	background-color: #322f1e;
	width: 20%;
	color: white;
	padding: 1%;
	position: absolute;
	top: 13%;
	right: 17%;
}

.request{
	float: right;
	padding-bottom: 5%;
}

.callus{
	text-align: center;
	margin-top: -1%;
}

.info{
	width: 95%;
	padding: 1.5%;
	margin-bottom: 5%;
}

#select{
	height: 25px;
	width: 100%;
}

#select:hover{
	cursor: pointer;
}
.agreed{
	font-size: 80%;
	margin-top: 10%;
}

.update{
	margin-bottom: 10%;
}

input[type='radio']:hover {
    box-shadow:0 0 5px 0px #d95113 inset;
}
input[type='radio']:before {
    content:'';
    display: block;
    width: 100%;
    height: 100%;
    margin: auto;    
    border-radius: 50%;    
}
input[type='radio']:checked:before {
    background: #d95113;
}

.requestsub{
	font-size: 100%;
	width: 100%;
	height: 35px;
	background-color: #de5b15;
	color: white;
	border:1px solid #de5b15
}

.requestsub{
	cursor: pointer;
}

.overview{
	width: 35%;
	margin-left: 17%;
}

.overtitle{
	color: #444444;
}

.descript{
	color: #7d7d7d;	
}

#focuscenter{
	margin-left: 40.5%;
	margin-top: 5%;
	margin-bottom: 3%;
}

#hright{
	width: 20%;
	float: right;
	margin-right: 16.5%;
	margin-top: 1.2%;
}

#hleft{
	width: 20%;
	float: left;
	margin-left: 17%;
	margin-top: 1.2%;
}

.gadback{
	background: #eee1c6; /* Old browsers */
	background: -moz-linear-gradient(top,  #eee1c6 0%, #eee1c6 82%, #c4bba7 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eee1c6), color-stop(82%,#eee1c6), color-stop(100%,#c4bba7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #eee1c6 0%,#eee1c6 82%,#c4bba7 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #eee1c6 0%,#eee1c6 82%,#c4bba7 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #eee1c6 0%,#eee1c6 82%,#c4bba7 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #eee1c6 0%,#eee1c6 82%,#c4bba7 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eee1c6', endColorstr='#c4bba7',GradientType=0 ); /* IE6-9 */
	height: 500px;
}

.col1{
   float: left;
   width: 22%;
   margin-left: 5%;
}

.col2{
	float: right;
	width: 22%;
	margin-right: 5%;
}

.col3{
	width: 22%;
	float: right;
	margin-right: 13%;
	
}

.areacenter{
	text-align: center;
	color: #444444;
}

.areamove{
	margin-left: 5%;
	color: #444444;
}

#outercirc1{
	background: #eee1c6;
   	border-radius: 50%;
   	height: 110px;
   	width: 110px;
   	z-index: -2;
   	position: absolute;
   	top: 113%;
   	left: 13%
}

#outercirc2{
	background: #eee1c6;
   	border-radius: 50%;
   	height: 110px;
   	width: 110px;
   	z-index: -2;
   	position: absolute;
   	top: 113%;
   	left: 45.6%
}

#outercirc3{
	background: #eee1c6;
   	border-radius: 50%;
   	height: 110px;
   	width: 110px;
   	z-index: -2;
   	position: absolute;
   	top: 113%;
   	left: 80.2%
}

.iconcenter{
	margin-left: 39%;
}

.carousel{
	background-color: #dbdada;
	position: absolute;
	width: 98.9%;
}

.fsxp{
	width: 25%;
	background-color: #444444;
	padding: .5%;
	color: #dbdada;
	position: absolute;
	top: 15.4%;
	left: 55%;
}

#rich{
	position: relative;
	left: 58.5%;
	bottom: 190%;
	color: #444444;
}

.richinfo{
	position: relative;
	left: 58.7%;
	bottom: 200%;
	color: #444444;
	font-size: 110%;
	line-height: 90%;
}

#mac{
	position: relative;
	left: 58.5%;
	bottom: 190%;
	color: #444444;
}

#launch{
	position: relative;
	left: 58.5%;
	bottom: 200%;
	color: #444444;
}

.maclap{
	position: relative;
	left: 58.7%;
	bottom: 210%;
	color: #444444;
	font-size: 110%;
	line-height: 90%;
}

#connect{
	position: relative;
	left: 58.6%;
	bottom: 135%;
	color: #444444;
}

.collab{
	position: relative;
	left: 58.7%;
	bottom: 147%;
	color: #444444;
	font-size: 110%;
	line-height: 97%;
}

.learning{
	z-index: 1;
	background-color: #e96c1f;
	/* padding: 3%; */
	width: 80%;
	height: 300px;
	position: absolute;
	top: 149%;
	left: 9%;
}

#learn{
	margin-left: 62%;
	width: 38%;
}

.footer{
	width: 98.9%;
	position: absolute;
	top: 236.1%;
	background-color: #333327;
}

.bachelor{
	color: white;
	position: absolute;
	top: 2%;
	left: 3%;
}

.details{
	color: white;
	line-height: 200%;
	position: absolute;
	top: 30%;
}

ul{
	list-style: disc;
	list-style-image: url(../img/bullet.png);
}